.startup {
  height: 60px;
  width: 350px;
  color: white;
  background-color: #0277bd;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
  font-family: Roboto, sans-serif;
}
.people {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  font-size: 13px;
  margin-top: 5px;
  color: #01579b;
  cursor: pointer;
}
.people:hover {
  text-decoration: underline;
}
